h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
}

$kw-xlg: 1280 / 100vw;

#table-of-contents {
  display: none;

  @media (min-width: 1280px) {
    display: block;
    // position: fixed;
    top: 90px;
    left: 0;
    z-index: 1;
    max-width: 300 / $kw-xlg;
    font-size: (12 / $kw-xlg);
    & > ul {
      position: sticky;
      top: 5%;
      list-style: none;
      margin: 0;
      margin-right: 15 / $kw-xlg;
      overflow: scroll;
      height: 90vh;
    }
  }
}

.page-content {
  @media (min-width: 1280px) {
    display: flex;
    flex-direction: row;
  }
}

main .wrapper {
  background: #fff;
  position: relative;
  z-index: 100;
  @media (min-width: 1280px) {
    // margin-left: 40px;
  }

  #toc {
    @media (min-width: 1280px) {
      display: none;
    }
  }
}

.f-carousel__slide {
  height: fit-content;
  --f-carousel-slide-height: fit-content;
}
