---
layout: base
toc: true
---

<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>

    {%- include header.html -%}

    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        {{ content }}
      </div>
      <aside id="table-of-contents">
        {{ content | toc_only }}
      </aside>
    </main>

    {%- include footer.html -%}
  <script src="https://cdn.jsdelivr.net/npm/@fancyapps/ui@5.0/dist/fancybox/fancybox.umd.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@fancyapps/ui@5.0/dist/carousel/carousel.umd.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@fancyapps/ui@5.0/dist/carousel/carousel.thumbs.umd.js"></script>
  <script type="text/javascript">
    const carousel = document.querySelectorAll(".f-carousel");
    carousel.forEach(item => {
      new Carousel(item, {
        infinite: true, adaptiveHeight: true,
        Dots: false,
        Thumbs: {
          type: "classic",
        },
      }, { Thumbs });
    })
    Fancybox.bind("[data-fancybox]", {
        // Your custom options
    });
  </script>

  </body>

</html>
